<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Registro de usuario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header></header>
        <main>
            <form action="/login" method="POST">
                <div>
                <label for="username">Nombre de Usuario
                    <input placeholder="Ingresar nombre de usuario" type="text" name="username">
                </label>
                </div>

                <label for="password">Contraseña
                    <input placeholder="Ingresar contraseña" type="text" name="password">
                </label>
                </div>
                
                <div>
                <input type="submit" value="Ingresar">
                </div>
        </form>
        </main>
        <footer></footer>
    </body>
</html>